<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Residential Permit Application - Springfield Municipal Permit Portal</title>
    <style>
        body {
            font-family: Tahoma, Verdana, Arial, sans-serif;
            font-size: 11px;
            background-color: #ffffff;
            color: #000000;
            margin: 0;
            padding: 0;
        }
        
        .headerBar {
            background-color: #003366;
            color: #ffffff;
            padding: 8px 15px;
            font-size: 14px;
            font-weight: bold;
        }
        
        .navBar {
            background-color: #ece9d8;
            padding: 5px 15px;
            border-bottom: 1px solid #999999;
        }
        
        .navBar a {
            color: #003366;
            text-decoration: none;
            margin-right: 15px;
        }
        
        .navBar a:hover {
            text-decoration: underline;
        }
        
        .breadcrumbs {
            padding: 5px 15px;
            background-color: #ffffcc;
            border-bottom: 1px solid #cccccc;
            color: #666666;
        }
        
        .breadcrumbs a {
            color: #003366;
        }
        
        .pageTitle {
            font-size: 16px;
            font-weight: bold;
            color: #003366;
            margin: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid #cccccc;
        }
        
        table.aspNetTable {
            border-collapse: collapse;
            border: 1px solid #999999;
            background-color: #F0F0F0;
            width: 95%;
            margin: 15px;
        }
        
        table.aspNetTable td {
            padding: 6px 10px;
            border: 1px solid #cccccc;
            background-color: #ffffff;
        }
        
        table.innerTable td {
            border: none;
            background-color: transparent;
            padding: 3px 5px;
        }
        
        .headerRow {
            background-color: #003366;
            color: #ffffff;
            font-weight: bold;
        }
        
        .aspNetLabel {
            font-family: Tahoma, Verdana, sans-serif;
            font-size: 11px;
            color: #000000;
        }
        
        .aspNetLabelBold {
            font-family: Tahoma, Verdana, sans-serif;
            font-size: 11px;
            font-weight: bold;
            color: #000000;
        }
        
        .aspNetTextBox {
            border: 1px solid #7f9db9;
            font-family: Tahoma, Verdana, sans-serif;
            font-size: 11px;
            padding: 3px;
            width: 250px;
        }
        
        .aspNetButton {
            background-color: #ece9d8;
            border: 1px solid #003c74;
            padding: 3px 15px;
            font-family: Tahoma, Verdana, sans-serif;
            font-size: 11px;
            cursor: pointer;
        }
        
        .aspNetButton:hover {
            background-color: #d4d0c0;
        }
        
        .requiredStar {
            color: #ff0000;
            font-weight: bold;
        }
        
        .formInstructions {
            font-size: 11px;
            color: #666666;
            margin: 10px 15px;
        }
        
        .footerBar {
            background-color: #003366;
            color: #ffffff;
            padding: 10px 15px;
            text-align: center;
            margin-top: 30px;
            font-size: 10px;
        }
        
        a {
            color: #0000FF;
            text-decoration: underline;
        }
        
        a:visited {
            color: #800080;
        }
    </style>
</head>
<body>
    <div class="headerBar">Springfield Municipal Permit Portal</div>
    
    <div class="navBar">
        <a href="/l1/springfield/">Home</a>
        <a href="/l1/springfield/apply">Apply Online</a>
        <a href="/l1/springfield/search?id=12345">Permit Search</a>
        <a href="/l1/springfield/guides">Guides & Resources</a>
    </div>
    
    <div class="breadcrumbs">
        <a href="/l1/springfield/">Home</a> &gt; 
        <a href="/l1/springfield/apply">Apply</a> &gt; 
        Residential Permit
    </div>
    
    <div class="pageTitle">Residential Building Permit Application</div>
    <div class="formInstructions">Complete all required fields to submit your permit application</div>
    
    <form method="post" action="/l1/springfield/apply/residential" id="aspnetForm">
        <div class="aspNetHidden">
            <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
            <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKLTQzNDM5MTMzMWRkZBYCAgMPZBYCAggeD2QYAQUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0J1dHRvbl8PSZ4c2QmIlVlbnM0MU1haW5Db250ZW50JHR4dEZ1bGxOYW1lPTE1MzU3NjY3ODcmYXJndW1lbnQ9Jzw1YTUwMGM1Zi1hYjM4LTRkOTItYjM5ZS0yNTY2NTQ1NTJjYzcmcG9zdGJhY2tUYXJnZXQ9JzRjZTAwJE1haW5Db250ZW50JHR4dEZ1bGxOYW1l" />
            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CA0B0334" />
        </div>
        
        <table class="aspNetTable" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="2" class="headerRow">Applicant Information</td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabelBold">Full Name <span class="requiredStar">*</span></span>
                </td>
                <td>
                    <table class="innerTable" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <input type="text" id="ctl00_MainContent_txtFullName" name="ctl00$MainContent$txtFullName" class="aspNetTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #666666; font-size: 10px;">
                                Enter your legal name as it appears on ID
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabelBold">Email Address <span class="requiredStar">*</span></span>
                </td>
                <td>
                    <table class="innerTable" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <input type="text" id="ctl00_MainContent_txtEmail" name="ctl00$MainContent$txtEmail" class="aspNetTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #666666; font-size: 10px;">
                                Confirmation will be sent to this address
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabelBold">Phone Number <span class="requiredStar">*</span></span>
                </td>
                <td>
                    <table class="innerTable" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <input type="text" id="ctl00_MainContent_txtPhone" name="ctl00$MainContent$txtPhone" class="aspNetTextBox" />
                            </td>
                        </tr>
                        <tr>
                            <td style="color: #666666; font-size: 10px;">
                                Format: (XXX) XXX-XXXX
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabel">Property Address</span>
                </td>
                <td>
                    <input type="text" id="ctl00_MainContent_txtPropertyAddress" name="ctl00$MainContent$txtPropertyAddress" class="aspNetTextBox" style="width: 350px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabel">City</span>
                </td>
                <td>
                    <input type="text" id="ctl00_MainContent_txtCity" name="ctl00$MainContent$txtCity" class="aspNetTextBox" value="Springfield" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabel">ZIP Code</span>
                </td>
                <td>
                    <input type="text" id="ctl00_MainContent_txtZip" name="ctl00$MainContent$txtZip" class="aspNetTextBox" style="width: 100px;" maxlength="5" />
                </td>
            </tr>
        </table>
        
        <table class="aspNetTable" cellspacing="0" cellpadding="0" style="margin-top: 15px;">
            <tr>
                <td colspan="2" class="headerRow">Project Details</td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabelBold">Project Type <span class="requiredStar">*</span></span>
                </td>
                <td>
                    <select id="ctl00_MainContent_ddlProjectType" name="ctl00$MainContent$ddlProjectType" class="aspNetTextBox" style="width: 250px;">
                        <option value="">-- Select --</option>
                        <option value="new">New Construction</option>
                        <option value="addition">Home Addition</option>
                        <option value="renovation">Renovation</option>
                        <option value="garage">Garage/Outbuilding</option>
                        <option value="deck">Deck/Porch</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabelBold">Estimated Value <span class="requiredStar">*</span></span>
                </td>
                <td>
                    <table class="innerTable" cellspacing="0" cellpadding="0">
                        <tr>
                            <td style="font-weight: bold;">$</td>
                            <td>
                                <input type="text" id="ctl00_MainContent_txtEstimatedValue" name="ctl00$MainContent$txtEstimatedValue" class="aspNetTextBox" style="width: 150px;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 200px;">
                    <span class="aspNetLabel">Square Footage</span>
                </td>
                <td>
                    <input type="text" id="ctl00_MainContent_txtSquareFootage" name="ctl00$MainContent$txtSquareFootage" class="aspNetTextBox" style="width: 100px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: top;">
                    <span class="aspNetLabel">Description</span>
                </td>
                <td>
                    <textarea id="ctl00_MainContent_txtDescription" name="ctl00$MainContent$txtDescription" class="aspNetTextBox" rows="4" style="width: 350px;"></textarea>
                </td>
            </tr>
        </table>
        
        <table style="margin: 15px;">
            <tr>
                <td>
                    <input type="submit" id="ctl00_MainContent_btnSubmit" name="ctl00$MainContent$btnSubmit" value="Submit Application" class="aspNetButton" />
                </td>
                <td style="padding-left: 10px;">
                    <input type="reset" id="ctl00_MainContent_btnReset" name="ctl00$MainContent$btnReset" value="Reset Form" class="aspNetButton" />
                </td>
            </tr>
        </table>
        
        <div style="margin: 15px; color: #666666; font-size: 10px;">
            <span class="requiredStar">*</span> Required fields must be completed before submission
        </div>
    </form>
    
    <div class="footerBar">
        &copy; 2024 City of Springfield. All rights reserved.<br />
        Springfield Municipal Permit Portal v2.0.5027
    </div>
</body>
</html>
